---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const allPosts = await getCollection("posts");
---

<Layout title="Lachlan Ridley - Posts">
  <main>
    <ul>
      {
        allPosts.map((post) => (
          <li>
            <a href={post.slug}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </main>

  <style>
    main {
      display: flex;
      flex-direction: column;
      align-items: center;

      min-height: 100vh;
      padding-top: 1rem;
    }
  </style>
</Layout>
V
