---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import noughtsAndCrossesImage from "../images/noughts-and-crosses.png";
import playdateBadge from "../images/playdate-badge-download.png";
---

<Layout title="Lachlan Ridley">
  <p class="intro">hiya! I'm Lachlan, and this is my little internet corner</p>
  <div class="cards">
    <Card class="green-card">
      <h2>Noughts + Crosses</h2>
      <a href="https://lachlan-ridley.itch.io/noughts-and-crosses">
        <img
          class="playdate-badge"
          src={playdateBadge.src}
          alt="A badge which reads Download for Playdate"
        />
      </a>
    </Card>

    <Card class="purple-card">
      <h2>love me! <span class="hearts">❤️💜💚</span></h2>
      <ul class="love-links">
        <li><a href="https://github.com/LachlanRidley">GitHub</a></li>
        <li><a href="https://cloudisland.nz/@lachlan_ridley">Mastodon</a></li>
      </ul>
    </Card>
  </div>
</Layout>

<style
  define:vars={{
    bgImage: `url(${noughtsAndCrossesImage.src})`,
  }}
>
  .green-card {
    background-color: #cfff70;
    border-color: #3ca370;
    color: #473b78;
  }

  .green-card h2 {
    background-color: #3ca370;
    padding: 1rem 4rem;
    margin: 0 -4rem;
    width: 100%;
  }

  .purple-card {
    background-color: #80366b;
    border-color: #422445;
    color: #ff6b97;
  }

  .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }

  .intro {
    width: 40ch;
    margin: 0 auto;
    font-size: 1.5rem;
  }

  .hearts {
    font-size: 2rem;
  }

  .centre {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .noughts-and-crosses {
    font-style: normal;
    font-size: 2.3rem;
    font-weight: bold;
  }

  .playdate-badge {
    position: absolute;
    bottom: 1.5rem;
    right: 2rem;
    width: 40%;
  }

  .love-links {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
</style>
