---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Lachlan Ridley - Resume">
  <main>
    <article>
      <h1>Resume</h1>
      <h2>Previous jobs</h2>
      <h3>EndGame</h3>
      <p>
        EndGame is a software development agency which works with start ups to
        help get them off the ground. As a senior developer I worked across a
        variety of projects, from greenfield to legacy.
      </p>
      <p>
        As a predominantly <strong>.NET</strong> shop, I honed my
        <strong>C#</strong> skills while also being exposed to a variety of software
        development methodologies.
      </p>
      <p>
        I have a great interest in accessibility and I championed accessible web
        design practices. I also introduced practices around using design
        systems to achieve consistent front-end designs.
      </p>
      <h3>Regen</h3>
      <p>
        Regen is an Ag-Tech company which provides daily recommendations to
        farmers, using telemetry captured from on-farm sensors. As a scrappy
        start-up, I learned how to achieve a lot with limited resources and was
        exposed to a variety of technologies.
      </p>
      <h2>Skills</h2>
      <p>
        I consider myself to be a talented programmer and have often been
        praised for my ability to convey technical ideas to non-technical
        people. I'm comfortable with:
      </p>
      <ul>
        <li>C#</li>
        <li>Java</li>
        <li>Python</li>
        <li>Lua</li>
        <li>JavaScript/TypeScript</li>
        <li>React</li>
        <li>.NET</li>
        <li>CSS</li>
        <li>HTML</li>
      </ul>
    </article>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100vh;
    padding-top: 1rem;
  }
</style>
