---
interface Props {
  class?: string;
}

const { class: className, ...rest } = Astro.props;
---

<div class:list={['card', className ]} {...rest}>
  <slot />
</div>

<style>
  .card {
    width: var(--card-size);
    height: var(--card-size);

    box-sizing: border-box;

    margin: 2rem;

    border-radius: 35px;
    padding: 0 3rem 1rem 3rem;

    box-shadow:
      -1px 0 28px 0 rgba(34, 33, 81, 0.01),
      28px 28px 28px 0 rgba(34, 33, 81, 0.25);

    animation: bop var(--hover-speed) infinite alternate;
    transition: scale 0.5s;
    perspective: 1000px;

    overflow: hidden;
  }

  .card:hover {
    scale: 1.1;
  }

  a:has(.card) {
    text-decoration: none;
  }

  .centre {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @keyframes bop {
    0% {
      /* translate: 0 15px; */
      transform: translate(0, 15px) perspective(1000px) rotateY(-4deg);
      /* 		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7); */
    }

    100% {
      translate: 0 0;
      transform: translate(0, 0) perspective(1000px) rotateY(4deg);
      /* 		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); */
    }
  }

  @keyframes altbop {
    0% {
      transform: translate(0, 15px) perspective(1000px) rotateX(0deg)
        rotateY(-6deg) rotateZ(-2deg);
      /* 		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7); */
    }

    100% {
      transform: translate(0, 0) perspective(1000px) rotateX(0deg) rotateY(6deg)
        rotateZ(-2deg);
      /* 		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); */
    }
  }
</style>
