---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en-NZ">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <link href="style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/posts">posts</a></li>
      </ul>
    </nav>
    <main>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  :root {
    --background-colour: #4b5bab;
    --text-colour: #c1f7dc;
    --highlight-colour: #f7003e;

    --accent-color-3: #eb564b;

    --card-size: 400px;

    --hover-speed: 5s;
  }

  body {
    background-color: var(--background-colour);
    color: var(--text-colour);
    margin: auto;

    line-height: 1.4;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;

    list-style: none;
    padding: 0;

    justify-content: center;
    gap: 2.5rem;
  }

  a {
    color: inherit;
    text-decoration: underline;
    text-decoration-thickness: 0.3ex;

    text-underline-offset: 3px;
    transition: all 0.1s;
  }

  a:hover {
    text-underline-offset: 5px;
    text-decoration-style: wavy;
  }

  li:nth-child(1) a {
    text-decoration-color: #422445;
  }

  li:nth-child(2) a {
    text-decoration-color: #3ca370;
  }

  li:nth-child(3) a {
    text-decoration-color: var(--accent-color-3);
  }
</style>
